<div class="container">
	<h1>Ask a Question!</h1>
	
	<% @question.errors.full_messages.each do |e| %>
		<li><%= e %></li>
		<br>
	<%end%>

	<%= form_for @question do |f| %>

		<div class="form-group">
			<%= f.label "Question" %>
			<%= f.text_field :title, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label "Description" %>
			<%= f.text_area :body, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.submit class: "btn btn-default" %>
		</div>

	<%end%>
</div>
