<div class="container">
	<h1><%= @question.title %> </h1>
	<br>
	<div class="well">
		<p><%= @question.body %></p>
	</div>



	<div class="question_comments">
		<%= @question.question_comments.each do |question_comment| %>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title"><%= question_comment.user.email %> Says:</h3>
			  </div>
			  <div class="panel-body">
			   <%= question_comment.body %>
			  </div>
			</div>
		<%end%>		
	</div>


	<% if signed_in? %>
	  <%= form_for [@question, @question.question_comments.build] do |f| %>
	    <div class="form-group">
	    	<%= f.text_field :title, class: "form-control", placeholder: "Writte a comment" %>
	    </div>

	    <div>
	      <%= f.submit "Comment", class: "btn btn-default" %>
	    </div>
	  <% end %>
	<% else %>

	<div  class="comment-no-logged-msg">
		<center><span>You need to be logged in, to comment!</span></center>
	</div>
		
	<% end %>

</div>