<div class="container">
	<h1><%= @question.title %> </h1>
	<hr>

	

	<div class="row">
		<div class="col-sm-1">
			
		</div>

		<div class="col-sm-11">
			<br>
			<div class="well">
				<p><%= markdown(@question.body) %></p>
			</div>

			

			<div class="question_comments">
				<%= render 'comments' %>	
			</div>


			<% if signed_in? %>
			  <%= render 'comments_form' %>
			<% else %>

				<div  class="comment-no-logged-msg">
					<center><span>You need to be logged in, to comment!</span></center>
				</div>
			<%end%>

		</div>
	</div>
	<hr>
	<br>
	<br>



	<div class="row">
		<h1><%=@question.answers.count%> Answer(s)</h1>
		<hr>
		<div class="col-sm-1">
			
		</div>

		<div class = "col-sm-11">
			<div class="answers-section">
				<div class="answers-display">
					<% @question.answers.each do |answer| %>
						<div class="well">

							<%= markdown(answer.body) %>
						</div>

						<div class="answer-comments">
							<%= render 'comments' %>
						</div>
						

						<div class="answers-comments-form">
							<% if signed_in? %>
							  <%= render 'comments_form' %>
							<% else %>

								<div  class="comment-no-logged-msg">
									<center><span>You need to be logged in, to comment!</span></center>
								</div>
							<%end%>
						</div>

						<hr>

					<%end%>	
				</div>

				<div class="answers-form">
					<%if signed_in? %>
						<%= form_for [@question.answers.build] do |f| %>
							<%= f.hidden_field(:question_id, :value => @question.id) %>
							<div class="form-group">
								<%= f.text_area :body, class: "form-control large", rows: "10", placeholder: "Submit your answer" %>
							</div>

							<div>
							  <%= f.submit "Answer", class: "btn btn-default" %>
							</div>
						<%end%>
					<%end%>
				</div>
			</div>
			
			
		</div>
		
	</div>
</div>