<div class="container">
	<h1><%= @question.title %> </h1>
	<hr>

	

	<div class="row">

		

		<div class="col-sm-1" style="font-size: 30px; color:#606060; text-align: center;">


			
			<% if signed_in? %>

				<% if (current_user.voted_up_on? @question) %>

				  	<%= link_to question_like_path(@question), method: :delete do %>

					    <span class="glyphicon glyphicon-triangle-top col-md-12"></span>
				    
				  	<% end %>

				<%else %>
					<%= link_to question_like_path(@question), method: :put do %>
						<span class="glyphicon glyphicon-triangle-top col-md-12"></span>
						
					<%end%>
				<%end%>

			<%else%>
				<span class="glyphicon glyphicon-triangle-top col-md-12"></span>
			<%end%>
	  		

  		  	
	  		

	  		<span class="col-md-12"><%= calculate_votes_for(@question)%></span>
	  		
	  		
	  		<% if signed_in? %>

				<% if (current_user.voted_down_on? @question) %>
		  		  	<%= link_to question_dislike_path(@question), method: :delete do %>

		  			    <span class="glyphicon glyphicon-triangle-bottom col-md-12"></span>
		  		    
		  		  	<% end %>

		  		<%else %>
		  			<%= link_to question_dislike_path(@question), method: :put do %>
		  				<span class="glyphicon glyphicon-triangle-bottom col-md-12"></span>
		  				
		  			<%end%>  
		  		<%end%> 
		  	<%else%>
		  		<span class="glyphicon glyphicon-triangle-bottom col-md-12"></span>
		  	<%end%>   
			 
		</div>
		<br>
		
		

		<div class="col-sm-11">
			<br>
			<p>Question by <%= @question.user.email %></p>
			<div class="well">
				<p><%= markdown(@question.body) %></p>
			</div>

			

			<div class="question_comments">
				<%= render partial: "comments/comments", locals: { commentable: @question }%>	
			</div>


			<% if signed_in? %>

				<%= render partial: "comments/form", locals: { commentable: @question }%>
			  
			<% else %>

				<div  class="comment-no-logged-msg">
					<center><span>You need to be logged in, to comment or vote!</span></center>
				</div>
			<%end%>

		</div>
	</div>
	<hr>
	<br>
	<br>



	<div class="row">
		<h1><%=@question.answers.count%> Answer(s)</h1>
		<hr>
		<br>
		

		<% @question.answers.each do |answer| %>

			<div class="col-sm-1" style="font-size: 30px; color:#606060; text-align: center;">


				<% if signed_in?  %>
					<% if (current_user.voted_up_on? answer)%>
						<%= link_to answer_like_path(answer), method: :delete do %>
	  			    		<span class="glyphicon glyphicon-triangle-top col-md-12"></span>  
	  		  			<% end %>
	  		  		<%else%>
						<%= link_to answer_like_path(answer), method: :put do %>
							<span class="glyphicon glyphicon-triangle-top col-md-12"></span>
							
						<%end%>
					<%end%>
				<%else%>
					<span class="glyphicon glyphicon-triangle-top col-md-12"></span>
				<%end%>




		  		<span class="col-md-12"><%= calculate_votes_for(answer)%></span>


		  		<% if signed_in?  %>
					<% if (current_user.voted_down_on? answer)%>
						<%= link_to answer_dislike_path(answer), method: :delete do %>
							<span class="glyphicon glyphicon-triangle-bottom col-md-12"></span>
							
						<%end%> 
	  		  		<%else%>
						<%= link_to answer_dislike_path(answer), method: :put do %>
							<span class="glyphicon glyphicon-triangle-bottom col-md-12"></span>
							
						<%end%> 
					<%end%>
				<%else%>
					<span class="glyphicon glyphicon-triangle-bottom col-md-12"></span>
				<%end%>
		  		
		  		
		  		  
				 
			</div>
			
			<div class = "col-sm-11">
				<div class="answers-section">
					<div class="answers-display">
						
						<p>Answer by: <%= answer.user.email %></p>
						<div class="well">

							<%= markdown(answer.body) %>
						</div>

						

						<div class="answer-comments">
							<%= render partial: "comments/comments", locals: { commentable: answer }%>
						</div>
						

						<div class="answers-comments-form">
							<% if signed_in? %>
								<%= render partial: "comments/form", locals: { commentable: answer }%>
							<% else %>

								<div  class="comment-no-logged-msg">
									<center><span>You need to be logged in, to comment or vote!</span></center>
								</div>
							<%end%>
						</div>


						

						<hr>

						
					</div>

					
				</div>
			</div>

		<% end %>
	</div>

	<div class="answers-form">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-11">
				<%if signed_in? %>
					<%= form_for [@question.answers.build] do |f| %>
						<%= f.hidden_field(:question_id, :value => @question.id) %>
						<div class="form-group">
							<%= f.text_area :body, class: "form-control large", rows: "10", placeholder: "Submit your answer" %>
						</div>

						<div>
						  <%= f.submit "Answer", class: "btn btn-default" %>
						</div>
					<%end%>
				<%end%>
			</div>
		</div>
	<br>
	<br>
	</div>

</div>





